.header{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/classic-matte-black-office-desk-rt7er18c7pjhwx6s.jpg);
    background-size: cover;    
}

.header-container{
    min-height: 130px;
    background: rgba(107, 104, 104, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 100px;
}

.btn-success{
    margin-right: 130px;
}